In [1]:
library(tidyverse)
library(tidymodels)
library(dplyr)
options(repr.matrix.max.rows = 6)

show_digit = function(arr784, col = gray(12:1 / 12), ...) {
  arr784$X <- 0
  image(matrix(as.matrix(arr784[-785]), nrow = 28)[, 28:1], col = col, ...)
}

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.0 ──

✔ broom        1.0.4     ✔ rsample      1.1.1
✔ dials        1.2.0     ✔ tune         1.1.1
✔ infer        1.0.4     ✔ workflows    1.1.3
✔ modeldata    1.1.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.0     ✔ yardstick    1.2.0
✔ recipes      1.0.6

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [28]:
downloaded_csv <- read_csv("/Users/chengxiansheng/Downloads/A_Z Handwritten Data.csv", 
                           col_names = c("label",seq(from=1,to=784,by=1)),
                           skip=1) # the source dataset is larger than 100MB which cannot be uploaded to Github

head(downloaded_csv)

Rows: 372450 Columns: 785
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (785): label, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  label 1 2 3 4 5 6 7 8 9 ⋯ 775 776 777 778 779 780 781 782 783 784
1 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
2 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
3 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
4 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
5 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
6 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0

In [30]:
extract_data <- downloaded_csv |>
    group_by(label) |>
    do(head(., n = 1000))

write_csv(extract_data, "data2/chr_data_set_26000.csv")

In [6]:
extract_data <- downloaded_csv |>
    group_by(label) |>
    do(head(., n = 1000)) |>
    mutate(label = as.factor(label))

alphabet <- c("a", "b", "c", "d", "e", "f", "g", "h", "i", 
                                 "j", "k", "l", "m", "n", "o", "p", "q", "r", 
                                 "s", "t", "u", "v", "w", "x", "y", "z")

levels(extract_data$label) <- alphabet

head(extract_data)

  label 1 2 3 4 5 6 7 8 9 ⋯ 775 776 777 778 779 780 781 782 783 784
1 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
2 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
3 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
4 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
5 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
6 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0

In [7]:
chr_split_2 <- initial_split(extract_data, prop = 0.9, strata = label)
chr_df_9 <- training(chr_split_2)
chr_df_1 <- testing(chr_split_2)

Warning message:
“Too little data to stratify.
• Resampling will be unstratified.”

In [8]:
nrow(chr_df_1)

[1] 2600

In [11]:
chr_df_1 |>
    group_by(label) |>
    summarize(count = n()) |>
    pivot_wider(names_from = label, values_from = count)

  a  b   c  d  e   f   g   h  i  j  ⋯ q   r   s   t   u   v   w  x   y  z
1 89 116 99 91 100 128 113 77 79 93 ⋯ 112 105 107 100 121 104 91 102 97 112

In [15]:
write_csv(chr_df_1, "data/chr_df_2.csv")

In [16]:
chr_df_2 <- read_csv("data/chr_df_2.csv")
head(chr_df_2)

Rows: 2600 Columns: 785
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (1): label
dbl (784): 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  label 1 2 3 4 5 6 7 8 9 ⋯ 775 776 777 778 779 780 781 782 783 784
1 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
2 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
3 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
4 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
5 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
6 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0

In [17]:
chr_df_2_split <- initial_split(data = chr_df_2, prop = 0.75, strata = label)
chr_training_2 <- training(chr_df_2_split)
chr_testing_2 <- testing(chr_df_2_split)

Warning message:
“Too little data to stratify.
• Resampling will be unstratified.”

In [18]:
nrow(chr_training_2)

[1] 1950

In [19]:
nrow(chr_testing_2)

[1] 650

In [20]:
write_csv(chr_training_2, "data/chr_training_2.csv")
write_csv(chr_testing_2, "data/chr_testing_2.csv")

In [21]:
head(downloaded_csv)

  label 1 2 3 4 5 6 7 8 9 ⋯ 775 776 777 778 779 780 781 782 783 784
1 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
2 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
3 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
4 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
5 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
6 0     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0

In [26]:
extract_data_400 <- downloaded_csv |>
    group_by(label) |>
    do(head(., n = 400)) |>
    mutate(label = as.factor(label))

alphabet <- c("a", "b", "c", "d", "e", "f", "g", "h", "i", 
                                 "j", "k", "l", "m", "n", "o", "p", "q", "r", 
                                 "s", "t", "u", "v", "w", "x", "y", "z")

levels(extract_data_400$label) <- alphabet

head(extract_data_400)
nrow(extract_data_400)

  label 1 2 3 4 5 6 7 8 9 ⋯ 775 776 777 778 779 780 781 782 783 784
1 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
2 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
3 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
4 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
5 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0
6 a     0 0 0 0 0 0 0 0 0 ⋯ 0   0   0   0   0   0   0   0   0   0

[1] 10400

In [27]:
write_csv(extract_data_400, "data/log_reg_df_400_26.csv")